*{
    margin: 0;
    padding: 0;
}

.maintext{
    background-color: #151f30;
    color: white;
    text-align: center;
}

.mainbutton{
    background-color: #151f30;
    color: white;
    border: 1px solid gray;
}

.VideoPlayer{
    width: 950px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

body{
    background-color: #131720;
}